TigoWebSox/TigoWebSoxAD-ejb/src/wsdl/servicedesk.tigo.com.gt/meaweb/schema/service/MXSRService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ibm.com/maximo" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.ibm.com/maximo">
  <!--================== Supporting Data Types ===========-->
  <xsd:simpleType name="ProcessingActionType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Add" />
      <xsd:enumeration value="Change" />
      <xsd:enumeration value="Replace" />
      <xsd:enumeration value="Delete" />
      <xsd:enumeration value="AddChange" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OperandModeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="OR" />
      <xsd:enumeration value="AND" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MboRelationshipType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChangeIndicatorType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueryOperatorType">
    <xsd:annotation>
      <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="=" />
      <xsd:enumeration value="!=" />
      <xsd:enumeration value="&lt;" />
      <xsd:enumeration value="&lt;=" />
      <xsd:enumeration value="&gt;" />
      <xsd:enumeration value="&gt;=" />
      <xsd:enumeration value="EW" />
      <xsd:enumeration value="SW" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BooleanType">
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <!--================== Content Data Types ==============-->
  <xsd:simpleType name="MaximoVersionType">
    <xsd:annotation>
      <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="MXStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLangStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute name="languageEnabled" type="xsd:boolean" use="optional" fixed="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBinaryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXCryptoType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute name="mxencrypted" type="BooleanType" use="optional" default="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountType">
    <xsd:sequence>
      <xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
      <xsd:element name="GLCOMP" type="MXGLComponentType" minOccurs="0" maxOccurs="20" />
    </xsd:sequence>
    <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--================== Query Data Types ==============-->
  <xsd:complexType name="MXStringQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanQueryType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountQueryType">
    <xsd:sequence>
      <xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--=================Attribute Groups =================-->
  <xsd:attributeGroup name="ObjectStructurePropertyGroup">
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
    <xsd:attribute name="relationship" type="xsd:string" use="optional" />
    <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="CommonContentGroup">
    <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="messageID" type="xsd:string" use="optional" />
    <xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="PublishingContentGroup">
    <xsd:attribute name="event" type="EventType" use="optional" default="0" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryContentGroup">
    <xsd:attribute name="uniqueResult" type="BooleanType" use="optional" default="0" />
    <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" default="0" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryClausePropertyGroup">
    <xsd:attribute name="orderby" type="xsd:string" use="optional" />
    <xsd:attribute name="operandMode" type="OperandModeType" use="optional" default="AND" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="ResponseContentGroup">
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:complexType name="SRKeyType">
    <xsd:sequence>
      <xsd:element name="CLASS" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TICKETID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SRObjectType">
    <xsd:sequence>
      <xsd:element name="TICKETID" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLASS" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Multiple languages supported</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="STATUS" type="MXStringType" minOccurs="0" />
      <xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="REPORTEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INTERNALPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="IMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="URGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="REPORTEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDPERSON" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="SOURCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="SUPERVISOR" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNER" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="ISGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALRECID" type="MXStringType" minOccurs="0" />
      <xsd:element name="SITEVISIT" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ORIGRECORDID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORDCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLACCOUNT" type="MXGLAccountType" minOccurs="0" />
      <xsd:element name="COMMODITYGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="COMMODITY" type="MXStringType" minOccurs="0" />
      <xsd:element name="INHERITSTATUS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ISKNOWNERROR" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="TARGETSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ORIGRECSITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="SITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CHANGEBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="HISTORYFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="TEMPLATE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="HASACTIVITY" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="FAILURECODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PROBLEMCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="ACTLABHRS" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTLABCOST" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETSITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="TEMPLATEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="VENDOR" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLASSSTRUCTUREID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ISKNOWNERRORDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="FR1CODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="FR2CODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="TICKETUID" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="SOLUTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="LANGCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="HASLD" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEWOMULTI" type="MXStringType" minOccurs="0" />
      <xsd:element name="TARGETDESC" type="MXStringType" minOccurs="0" />
      <xsd:element name="SELFSERVSOLACCESS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="HASSOLUTION" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PLUSPQUOTETYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPQUOTEDPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPAGREEMENT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTOMER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOSTCENTER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTCHACCT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRNUMBER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRDIRPRFX" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRSTREET" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRSTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRDIRSFX" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRUNITNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTREETADDRESS" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPADDRESSLINE2" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPADDRESSLINE3" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCITY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPREGIONDISTR" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOUNTY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTATEPROVINCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPPOSTALCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOUNTRY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPDIRECTIONS" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPTIMEZONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPLATITUDE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPLONGITUDE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPREFPOINT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPGEOCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPRESPONSEPLAN" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPREVNUM" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPPRICESCHED" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTPONUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPMAXPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPBILLBATCH" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPBBLINENUM" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPADDRISCHANGED" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PLUSPPOREQ" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PLUSPCALCORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCCALNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCSHIFT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMRESOLUTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="SEARCHSOURCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="INDICATEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM_TICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM" type="MXStringType" minOccurs="0" />
      <xsd:element name="DESCSRVID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATIONDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="VIRTUALENV" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="OUTAGEDURATION" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="CLASSIFICATIONID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCCRID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCITEMNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCOFFSUMMARY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCQUANTITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ACCUMULATEDHOLDTIME" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="CORRELATIONATTRS" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCCALENDAR" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCSHIFT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMIMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PMCOMURGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESPONSETIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="OPENTIME" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="FOLLOWUPDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ISMAINTENANCE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PROVIDER" type="MXStringType" minOccurs="0" />
      <xsd:element name="BUSUNIT" type="MXStringType" minOccurs="0" />
      <xsd:element name="RISK" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="INCORRECTDIAGNOSYS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="REPORTECARTOGRAFICO" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ENDSLAHOLD" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CLIENTCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLIENTNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLIENTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="FACTIBLE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="REEVALUATE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="WFTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="LLDREQ" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="APRSTAGE" type="MXStringType" minOccurs="0" />
      <xsd:element name="DURACION_TOTAL" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="FECHA_PROMETIDA" type="MXDateTimeType" nillable="true" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="SRMboKeyType">
    <xsd:sequence>
      <xsd:element name="SR" type="SRKeyType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SRMboKeySetType">
    <xsd:sequence>
      <xsd:element name="SR" type="SRKeyType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SRMboSetType">
    <xsd:sequence>
      <xsd:element name="SR" type="SRObjectType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SRMboType">
    <xsd:sequence>
      <xsd:element name="SR" type="SRObjectType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SRMboQueryType">
    <xsd:sequence>
      <xsd:element name="WHERE" type="xsd:string" minOccurs="0" />
      <xsd:element name="SR" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="2">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="2">
              <xsd:annotation>
                <xsd:documentation>Multiple languages supported</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="STATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INTERNALPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="IMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="URGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDPERSON" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SOURCE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SUPERVISOR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OWNER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="GLOBALTICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="GLOBALTICKETCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="EXTERNALRECID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SITEVISIT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECORDID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECORDCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="GLACCOUNT" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="COMMODITYGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="COMMODITY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INHERITSTATUS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISKNOWNERROR" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTUALSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTUALFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CHANGEBY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HISTORYFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TEMPLATE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HASACTIVITY" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FAILURECODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PROBLEMCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTLABHRS" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTLABCOST" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSETSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TEMPLATEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="VENDOR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSETNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLASSSTRUCTUREID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISKNOWNERRORDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FR1CODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FR2CODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TICKETUID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SOLUTION" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSETORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="LANGCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HASLD" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CREATEWOMULTI" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETDESC" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SELFSERVSOLACCESS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HASSOLUTION" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPQUOTETYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPQUOTEDPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPAGREEMENT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCUSTOMER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCOSTCENTER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCUSTCHACCT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRNUMBER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRDIRPRFX" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRSTREET" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRSTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRDIRSFX" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRUNITNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTREETADDRESS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPADDRESSLINE2" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPADDRESSLINE3" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCITY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPREGIONDISTR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCOUNTY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTATEPROVINCE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPPOSTALCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCOUNTRY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPDIRECTIONS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPTIMEZONE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPLATITUDE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPLONGITUDE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPREFPOINT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPGEOCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPRESPONSEPLAN" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPREVNUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPPRICESCHED" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCUSTPONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPMAXPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPBILLBATCH" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPBBLINENUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPADDRISCHANGED" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPPOREQ" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCALCORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCALCCALNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCALCSHIFT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMRESOLUTION" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SEARCHSOURCE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INDICATEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="EXTERNALSYSTEM_TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="EXTERNALSYSTEM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="DESCSRVID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CREATEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CREATIONDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="VIRTUALENV" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OUTAGEDURATION" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLASSIFICATIONID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCCRID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCITEMNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCOFFSUMMARY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCQUANTITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACCUMULATEDHOLDTIME" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CORRELATIONATTRS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CALCORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CALCCALENDAR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CALCSHIFT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMIMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMURGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ADJUSTEDTARGETRESPONSETIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OPENTIME" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FOLLOWUPDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISMAINTENANCE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PROVIDER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="BUSUNIT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="RISK" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INCORRECTDIAGNOSYS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTECARTOGRAFICO" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ENDSLAHOLD" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLIENTCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLIENTNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLIENTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FACTIBLE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REEVALUATE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="WFTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="LLDREQ" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="APRSTAGE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="DURACION_TOTAL" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FECHA_PROMETIDA" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:element name="SRMbo" type="SRMboType" />
  <xsd:element name="SRMboSet" type="SRMboSetType" />
  <xsd:element name="SRMboKey" type="SRMboKeyType" />
  <xsd:element name="SRMboKeySet" type="SRMboKeySetType" />
  <xsd:element name="SRMboQuery" type="SRMboQueryType" />
  <xsd:complexType name="MXSR_SRType">
    <xsd:sequence>
      <xsd:element name="MAXINTERRORMSG" type="xsd:string" minOccurs="0" />
      <xsd:element name="ACCUMULATEDHOLDTIME" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTLABCOST" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTLABHRS" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESPONSETIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDPERSON" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="APRSTAGE" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETSITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="BUSUNIT" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCCALENDAR" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCSHIFT" type="MXStringType" minOccurs="0" />
      <xsd:element name="CHANGEBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="CHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLASS" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLASSIFICATIONID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLASSSTRUCTUREID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLIENTCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLIENTNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLIENTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="COMMODITY" type="MXStringType" minOccurs="0" />
      <xsd:element name="COMMODITYGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="CORRELATIONATTRS" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEWOMULTI" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATIONDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Multiple languages supported</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DESCRIPTION_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="DESCSRVID" type="MXStringType" minOccurs="0" />
      <xsd:element name="DURACION_TOTAL" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ENDSLAHOLD" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="EXTERNALRECID" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM_TICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="FACTIBLE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="FAILURECODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="FECHA_PROMETIDA" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="FOLLOWUPDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="FR1CODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="FR1CODE_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="FR2CODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="FR2CODE_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLACCOUNT" type="MXGLAccountType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="HASACTIVITY" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="HASSOLUTION" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="HISTORYFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="IMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INCORRECTDIAGNOSYS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="INDICATEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INHERITSTATUS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="INTERNALPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ISGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ISKNOWNERROR" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ISKNOWNERRORDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ISMAINTENANCE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="LLDREQ" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="OPENTIME" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORDCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORDID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECSITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="OUTAGEDURATION" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="OWNER" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPADDRESSLINE2" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPADDRESSLINE3" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPADDRISCHANGED" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PLUSPAGREEMENT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPBBLINENUM" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPBILLBATCH" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCCALNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCSHIFT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCITY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOSTCENTER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOUNTRY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOUNTY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTCHACCT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTOMER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTPONUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPDIRECTIONS" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPGEOCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPLATITUDE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPLONGITUDE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPMAXPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPPOREQ" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PLUSPPOSTALCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPPRICESCHED" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPQUOTEDPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPQUOTETYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPREFPOINT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPREGIONDISTR" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPRESPONSEPLAN" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPREVNUM" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRDIRPRFX" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRDIRSFX" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRNUMBER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRSTREET" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRSTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTADDRUNITNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTATEPROVINCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPSTREETADDRESS" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPTIMEZONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMIMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PMCOMRESOLUTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMURGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PMSCCRID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCITEMNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCOFFSUMMARY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCQUANTITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PROBLEMCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PROBLEMCODE_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="PROVIDER" type="MXStringType" minOccurs="0" />
      <xsd:element name="REEVALUATE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="REMARKDESC_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="REPORTECARTOGRAFICO" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="REPORTEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="RISK" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="SEARCHSOURCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="SELFSERVSOLACCESS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="SITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="SITEVISIT" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="SOLUTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="SOURCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="STATUS" type="MXStringType" minOccurs="0" />
      <xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="SUPERVISOR" type="MXStringType" minOccurs="0" />
      <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETDESC" type="MXStringType" minOccurs="0" />
      <xsd:element name="TARGETFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TEMPLATE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="TEMPLATEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="TICKETID" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TICKETUID" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="URGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="VENDOR" type="MXStringType" minOccurs="0" />
      <xsd:element name="VIRTUALENV" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="WFTYPE" type="MXStringType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXSRType">
    <xsd:sequence>
      <xsd:element name="SR" type="MXSR_SRType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MXSRSetType">
    <xsd:sequence>
      <xsd:element name="SR" type="MXSR_SRType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MXSRQueryType">
    <xsd:sequence>
      <xsd:element name="WHERE" type="xsd:string" minOccurs="0" />
      <xsd:element name="SR" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ACCUMULATEDHOLDTIME" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTLABCOST" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTLABHRS" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTUALFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ACTUALSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ADJUSTEDTARGETRESPONSETIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDPERSON" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="AFFECTEDPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="APRSTAGE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSETNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSETORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSETSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="BUSUNIT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CALCCALENDAR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CALCORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CALCSHIFT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CHANGEBY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CLASSIFICATIONID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLASSSTRUCTUREID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLIENTCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLIENTNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CLIENTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="COMMODITY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="COMMODITYGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CORRELATIONATTRS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CREATEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CREATEWOMULTI" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="CREATIONDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="2">
              <xsd:annotation>
                <xsd:documentation>Multiple languages supported</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="DESCSRVID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="DURACION_TOTAL" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ENDSLAHOLD" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="EXTERNALRECID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="EXTERNALSYSTEM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="EXTERNALSYSTEM_TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FACTIBLE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FAILURECODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FECHA_PROMETIDA" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FOLLOWUPDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FR1CODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="FR2CODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="GLACCOUNT" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="GLOBALTICKETCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="GLOBALTICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HASACTIVITY" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HASSOLUTION" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="HISTORYFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="IMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INCORRECTDIAGNOSYS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INDICATEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INHERITSTATUS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="INTERNALPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISKNOWNERROR" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISKNOWNERRORDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ISMAINTENANCE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="LLDREQ" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OPENTIME" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECORDCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECORDID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="ORIGRECSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OUTAGEDURATION" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OWNER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="OWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPADDRESSLINE2" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPADDRESSLINE3" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPADDRISCHANGED" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPAGREEMENT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPBBLINENUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPBILLBATCH" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCALCCALNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCALCORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCALCSHIFT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCITY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCOSTCENTER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCOUNTRY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCOUNTY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCUSTCHACCT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCUSTOMER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPCUSTPONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPDIRECTIONS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPGEOCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPLATITUDE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPLONGITUDE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPMAXPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPPOREQ" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPPOSTALCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPPRICESCHED" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPQUOTEDPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPQUOTETYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPREFPOINT" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPREGIONDISTR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPRESPONSEPLAN" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPREVNUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRDIRPRFX" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRDIRSFX" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRNUMBER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRSTREET" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRSTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTADDRUNITNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTATEPROVINCE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPSTREETADDRESS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PLUSPTIMEZONE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMIMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMRESOLUTION" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMCOMURGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCCRID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCITEMNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCOFFSUMMARY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PMSCQUANTITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PROBLEMCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="PROVIDER" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REEVALUATE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTECARTOGRAFICO" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="REPORTEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="RISK" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SEARCHSOURCE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SELFSERVSOLACCESS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SITEVISIT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SOLUTION" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SOURCE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="STATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="SUPERVISOR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETDESC" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TARGETSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TEMPLATE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TEMPLATEID" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="2">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TICKETUID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="URGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="2" />
            <xsd:element name="VENDOR" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="VIRTUALENV" type="MXBooleanQueryType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="WFTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="MXSRCombinedKeySetType">
    <xsd:sequence>
      <xsd:element name="SR" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CLASS" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TICKETID" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TICKETUID" type="MXLongType" nillable="true" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MXSR" type="MXSRType" />
  <xsd:element name="MXSRSet" type="MXSRSetType" />
  <xsd:element name="MXSRQuery" type="MXSRQueryType" />
  <xsd:complexType name="CreateMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRQuery" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="QueryContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="PublishMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="PublishingContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteMXSRType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeMXSRResponseType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="CreateMXSRResponseType">
    <xsd:sequence>
      <xsd:element ref="SRMboKeySet" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryMXSRResponseType">
    <xsd:sequence>
      <xsd:element ref="MXSRSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="ResponseContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncMXSRResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteMXSRResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateMXSRResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:element name="UpdateMXSR" type="UpdateMXSRType" />
  <xsd:element name="QueryMXSR" type="QueryMXSRType" />
  <xsd:element name="CreateMXSR" type="CreateMXSRType" />
  <xsd:element name="SyncMXSR" type="SyncMXSRType" />
  <xsd:element name="DeleteMXSR" type="DeleteMXSRType" />
  <xsd:element name="PublishMXSR" type="PublishMXSRType" />
  <xsd:element name="InvokeMXSR" type="InvokeMXSRType" />
  <xsd:element name="InvokeMXSRResponse" type="InvokeMXSRResponseType" />
  <xsd:element name="QueryMXSRResponse" type="QueryMXSRResponseType" />
  <xsd:element name="CreateMXSRResponse" type="CreateMXSRResponseType" />
  <xsd:element name="SyncMXSRResponse" type="SyncMXSRResponseType" />
  <xsd:element name="UpdateMXSRResponse" type="UpdateMXSRResponseType" />
  <xsd:element name="DeleteMXSRResponse" type="DeleteMXSRResponseType" />
</xsd:schema>

